/* Estilos para el formulario */
body {
    margin: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.region {
    width: 45%;
    margin-bottom: 1rem;
}

.titulo {
    color: #007bff; /* Color de texto (rojo en este ejemplo) */
    font-size: 34px; /* Tamaño de fuente */
    text-align: center; /* Alineación de texto al centro */
    font-family: Arial, sans-serif; /* Fuente del texto */
    padding: 10px; /* Espaciado interno (padding) */
    background-color: #f0f0f0; /* Color de fondo (gris claro en este ejemplo) */
}

.image-div {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0; /* Color de fondo (gris claro en este ejemplo) */
}

input[type="text"],
input[type="number"],
input[type="file"] {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}
