<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

        {% load static %}
        <link rel="stylesheet" href=" {% static "css/styles.css" %} " type="text/css" media="all">

    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="region">
                    <h2>Región 1</h2>
                    <label for="x1-region1">x1:</label>
                    <input type="number" id="x1-region1" name="x1-region1" required>

                    <label for="x2-region1">x2:</label>
                    <input type="number" id="x2-region1" name="x2-region1" required>

                    <label for="y1-region1">y1:</label>
                    <input type="number" id="y1-region1" name="y1-region1" required>

                    <label for="y2-region1">y2:</label>
                    <input type="number" id="y2-region1" name="y2-region1" required>

                    <label for="n-region1">Na:</label>
                    <input type="number" id="n-region1" name="n-region1" required>
                </div>

                <div class="region">
                    <h2>Región 2</h2>
                    <label for="x1-region2">x1:</label>
                    <input type="number" id="x1-region2" name="x1-region2" required>

                    <label for="x2-region2">x2:</label>
                    <input type="number" id="x2-region2" name="x2-region2" required>

                    <label for="y1-region2">y1:</label>
                    <input type="number" id="y1-region2" name="y1-region2" required>

                    <label for="y2-region2">y2:</label>
                    <input type="number" id="y2-region2" name="y2-region2" required>

                    <label for="n-region2">Nb:</label>
                    <input type="number" id="n-region2" name="n-region2" required>
                </div>
            </div>
            <div id="entrenamiento">
                <h2>Entrenamiento</h2>
                <div class="form-group">
                    <!--
                    <label for="pintar-pasos">Pintar por Pasos</label>
                    <input type="radio" id="pintar-pasos" name="pintar" value="pasos" checked>
                    -->
                </div>
                <div class="form-group">
                    <label for="pintar-inicio-fin">Pintar al Inicio-Fin</label>
                    <input type="radio" id="pintar-inicio-fin" name="pintar" value="inicio-fin" checked>
                </div>
                <button type="submit" name="entrenar">Entrenar</button>
            </div>
            <div class="parametros">
                <h3>Cambio de parámetros</h3>
                <label for="pesos_min">Intervalo de pesos del neurón:</label>
                <input type="number" id="pesos_min" name="pesos_min" placeholder="Mínimo" min="-10" max="10" step="0.1" required>
                <input type="number" id="pesos_max" name="pesos_max" placeholder="Máximo" min="-10" max="10" step="0.1" required>
                <br>
                <label for="coef_aprendizaje">Coeficiente de aprendizaje:</label>
                <input type="number" id="coef_aprendizaje" name="coef_aprendizaje" placeholder="0.1" min="0" max="1" step="0.1" required>
            </div>
        </form>
        <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="reconocimiento">
                <h2>Reconocimiento</h2>
                <div class="form-group">
                    <label for="pintar-pasos">Generar Aleatoriamente</label>
                    <input type="radio" name="Generar" value="Aleatoriamente" checked>
                </div>
                <div class="form-group">
                    <label for="pintar-inicio-fin">Cargar Archivo</label>
                    <input type="radio" name="Generar" value="Archivo">
                </div>
                <input type="file" value="" name="archivo" id=""/>
                <button type="submit" name="reconocer">Reconocer</button>
            </div>
        </form>
        <h1 class="titulo">Plot</h1>

        <div class="image-div">
            {% load static %}
            <img src=" {% static "plot.png" %} " alt=""/>
        </div>
    </body>
</html>
